.follow-people-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243,243,239);
    min-height: inherit;
    padding-top:20px
}
.people-list{
    margin-top: 10px;
    background-color: white;
    width:450px;
    min-height:100px;
    border:1px solid rgb(235,235,235);
    border-radius: 10px;
    padding:15px ;
}

.people-list > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.people-list > div > div > div{
    display: flex;
    align-items: center;
}

.people-list > div > div > button{
    background-color: transparent;
    border:1px solid rgb(12,103,194);
    color:rgb(12,103,194);
    width:100px;
    border-radius: 10px;
    padding:10px;
    font-weight: 800;
}
.people-list > div > div > button:hover{
    background-color: rgb(12,103,194);
    color:white;
    cursor: pointer;
}
.people-list > button {
    background-color: transparent;
    border:1px solid rgb(12,103,194);
    color:rgb(12,103,194);
    width:100%;
    border-radius: 10px;
    padding:10px;
    font-weight: 800;
}
.people-list > button:hover{
    background-color: rgb(12,103,194);
    color:white;
    cursor: pointer;
}

.people-list > button:disabled{
    background-color: transparent;
    color:#666;
    cursor: not-allowed;
}