.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243,243,239);
    min-height: inherit;
    padding-top:20px
}
.post-thought{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:100% */
    /* width:calc(100%-10px) */
    /* width: inherit; */
}
textarea{
    border-radius: 15px;
    width: 400px;
    padding: 10px;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}
.tweetErr{
    color:red;
    font-size: 12px;
}